@{
Layout = "_Layout";
}

<div class="container">
<h1>Stylist Details</h1>
    <h3>Name: @Model["stylist"].GetName()</h3>
    <h3>Description: @Model["stylist"].GetDescription()</h3>

  <h3>Here are all the client who comes to see "@Model["stylist"].GetName()":</h3>
  @if (@Model["clients"].Count == 0)
  {
  <p>No one have been added into this stylist client list, yet!</p>
  }

  <ol>
    @foreach (var client in @Model["clients"])
    {
      <li>@client.GetClientName()
        <p><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/delete'>Delete This Client</a></p>
      </li>
    }
  </ol>

  <p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p><br>

  <p><a href='/stylists'>Stylists list</a></p><br>
  <p><a href='/'>Home Page</a></p>
</div>
